.about-container {
  width: 100%;
  min-height: 100vh;
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
}

/* Top Blue Banner */
.about-banner {
  width: 100%;
  height: 200px;
  background-color: #192f7c;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-banner h1 {
  color: white;
  font-size: 42px;
  font-weight: 600;
}

/* Wrapper */
.about-wrapper {
  max-width: 1100px;
  margin: 70px auto;
  padding: 0 20px;
  text-align: center;
}

/* About tag */
.about-tag {
  color: #2f4cff;
  font-size: 14px;
  font-weight: 500;
  display: block;
  margin-bottom: 8px;
}

/* Title */
.about-title {
  font-size: 34px;
  font-weight: 800;
  color: #0b1c55;
  margin-bottom: 40px;
}

/* Text area */
.about-text {
  text-align: left;
}

.about-text p {
  font-size: 17px;
  line-height: 2;
  color: #555;
  margin-bottom: 35px;
}

/* Make first words bold blue */
.about-text strong {
  color: #1a2aa8;
}
